## Vim
*.vim
*.s[a-w][a-z]

## Other
*~
.vscode/
.vscode
*.deb
*.[rt]ar*
*.[rt]ar
*.zip
*.7z
*.apk

## Cached
cache/

## tools
config.guess
config.sub
configure
depcomp
install-sh
missing
Makefile.in
Makefile


