## Vim
*.vim
*.s[a-w][a-z]

## Other
*~
.git/
.vscode/
.vscode
*.deb
*.[rt]ar*
*.[rt]ar
*.zip
*.7z
*.apk
*.tgz
package-lock.json
*.ipa
*.ipsw
*.dmg
*.img
*.iso

## Cached
cache/

## tools
config.guess
config.sub
configure
depcomp
install-sh
missing
Makefile.in
Makefile

